*{/*Reset basico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.dia {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.dia label {
  font-weight: bold;
  margin-bottom: 5px;
}

.dia input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*Lo siguiente es para el resaltado del dia despues de clicar en la notificacion*/
.dia.resaltado {
    outline: 3px solid #007bff;
    background-color: #eaf3ff;
    border-radius: 8px;
    padding: 10px;
}

